EXPO_PUBLIC_SUPABASE_URL=https://vszwtnclpxazeceytfic.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZzend0bmNscHhhemVjZXl0ZmljIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU4OTMwNjYsImV4cCI6MjA4MTQ2OTA2Nn0.i4tQdpvx-M1hmiYyPN6NeLOQqHnC5kE4z17nL0xBA3c


